<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    * {
      margin: auto;
      padding: auto;
    }

    body {
      background-color: #8D7B68;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    nav {
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
    }

    nav img {
      width: 100px;
    }

    .nav-links {
      flex: 1;
      text-align: right;
    }

    .nav-links ul li {
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
    }

    .nav-links ul li a {
      color: white;
      text-decoration: none;
      font-size: 20px;
    }

    .nav-links ul li::after {
      content: "";
      width: 0%;
      height: 2px;
      background: #f44336;
      display: block;
      margin: auto;
      transition: 0.5s;
    }

    .nav-links ul li:hover::after {
      width: 100%;
      margin-left: 100px;
    }

    #books {
      height: 55vh;
      width: 80%;
      margin-left: 120px;
      margin-bottom: 100px;
    }

    section {
      width: 100%;
      display: inline-block;
      background: wheat;
      height: 50vh;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      text-decoration: underline;
    }

    .footer-distributed {
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: inline-block;
      vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
      width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
      color: #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
    }

    .footer-distributed h3 span {
      color: lightseagreen;
    }

    /* Footer links */

    .footer-distributed .footer-links {
      color: #ffffff;
      margin: 20px 0 12px;
      padding: 0;
    }

    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      font-weight: 400;
      text-decoration: none;
      color: inherit;
    }

    .footer-distributed .footer-company-name {
      color: #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
      width: 35%;
    }

    .footer-distributed .footer-center i {
      background-color: #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
    }

    .footer-distributed .footer-center i.fa-envelope {
      font-size: 17px;
      line-height: 38px;
    }

    .footer-distributed .footer-center p {
      display: inline-block;
      color: #ffffff;
      font-weight: 400;
      vertical-align: middle;
      margin: 0;
    }

    .footer-distributed .footer-center p span {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
    }

    .footer-distributed .footer-center p a {
      color: lightseagreen;
      text-decoration: none;
      ;
    }

    .footer-distributed .footer-links a:before {
      content: "|";
      font-weight: 300;
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }

    .footer-distributed .footer-links .link-1:before {
      content: none;
    }

    /* Footer Right */

    .footer-distributed .footer-right {
      width: 20%;
    }

    .footer-distributed .footer-company-about {
      line-height: 20px;
      color: #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }

    .footer-distributed .footer-company-about span {
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .footer-distributed .footer-icons {
      margin-top: 25px;
    }

    .footer-distributed .footer-icons a {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;

      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;

      margin-right: 3px;
      margin-bottom: 5px;
    }

    /* If you don't want the footer to be responsive, remove these media queries */

    @media (max-width: 880px) {

      .footer-distributed {
        font: bold 14px sans-serif;
      }

      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }

      .footer-distributed .footer-center i {
        margin-left: 0;
      }

    }
  </style>

</head>

<body>
  <nav>
    <a href="#"><img src="/img/Iiit-una-logo.png"></a>
    <div class="nav-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/books">Books</a></li>
      </ul>
    </div>
  </nav>
  <section id="books">
    <h2>BOOK ITEMS</h2>
    <table style="width:100%">
      <tr>
        <th>Books Name</th>
        <th>Author Name</th>
        <th>Semester </th>
        <th>Books refrence </th>
      </tr>
      <tr>
        <td>Fundamental of Database systems</td>
        <td>Shamkant B. Navathe</td>
        <td>IV</td>
        <td><a href="https://drive.google.com/file/d/1daEUga8eEgQqziDcAZoDILtDPebUkw8F/view" target="_blank">Dbms</a>
        </td>
      </tr>
      <tr>
        <td>Data Analysis and Algorithm</td>
        <td>THOMAS</td>
        <td>IV</td>
        <td><a href="https://drive.google.com/file/d/1tNa9CKHNP1FMwLgoEgYBc1T2JENhxf_u/view?usp=share_link"
            target="_blank">Algorithms</a>
        </td>
      </tr>
      <tr>
        <td>Object Oriented Programming</td>
        <td>Imraan Saeed</td>
        <td>IV</td>
        <td><a href="https://drive.google.com/file/d/1993ihS03fM3mx1SjkuB6BBLOqvFmpwIn/view?usp=share_link"
            target="_blank">OOPS</a>
        </td>
      </tr>
      <tr>
        <td>Operating System</td>
        <td>William Stallings</td>
        <td>IV</td>
        <td><a href="https://drive.google.com/file/d/1sNAfxvYdBwP0mSVx6-JSPyuZsw9XCD0y/view?usp=share_link"
            target="_blank">Operating Systems</a></td>
      </tr>

      <tr>
        <td>Computer System And Architecture</td>
        <td>M Morrison</td>
        <td>III</td>
        <td><a href="https://drive.google.com/file/d/14iIxldD65AeiczNIVWzNwdsHZuQFloN1/view?usp=share_link"
            target="_blank">Computer Architecture</a></td>
      </tr>
      <tr>
        <td>Automata </td>
        <td>KLP Mishra</td>
        <td>III</td>
        <td><a href="https://drive.google.com/file/d/1MZyzOyhCQGEZy9ea6oQsytNEP8m4YZ6e/view?usp=share_link"
            target="_blank">automata</a></td>
      </tr>
      <tr>
        <td>Digital Circuits </td>
        <td>Morris Mano</td>
        <td>III</td>
        <td><a href="https://drive.google.com/file/d/1H9nQyg1TuWImL3CPkcTs4QeD9yJnRU8q/view?usp=share_link"
            target="_blank">digital</a></td>
      </tr>

      <tr>
        <td>Biotechnology</td>
        <td>William J. Thieman</td>
        <td>I</td>
        <td><a href="https://drive.google.com/file/d/1aQrErKt2Ir6LM38fQDwz1_PQa8BZ-xoh/view?usp=share_link"
            target="_blank">biotech</a></td>
      </tr>
      <tr>
        <td> Electronic Devices </td>
        <td>Boylestd</td>
        <td>I</td>
        <td><a href="https://drive.google.com/file/d/1OV3FatAGbqMx_2GpVRjqJ4LVy4LPUxyr/view?usp=share_link"
            target="_blank">elctronics</a></td>
      </tr>
    </table>
  </section>
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>IIIT<span>UNA</span></h3>

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>

        <a href="#">Login</a>

        <a href="#">SignUp</a>

        <a href="#">Books</a>


      </p>

    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Saloh
          </span> Una H.P</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>7565749388</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">admin@iiitu.ac.in</a></p>
      </div>

    </div>

    <div class="footer-right">

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108882.10350308371!2d76.05885416249998!3d31.481130100000012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391adb198180014f%3A0xbf76347093a3aa9a!2sIndian%20Institute%20of%20Information%20Technology%20(IIIT)%20Una!5e0!3m2!1sen!2sin!4v1681134745370!5m2!1sen!2sin"
        width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </footer>
</body>

</html>